@import "@/src/app/shortSyles.scss";

.reward-center {
  .navigation {
    @include flex(center, flex-start);
    @include f-direction(row);
    gap: 25px;
    height: 30px;

    .page-link {
      @include p-montserrat-16-125-medium;
      color: var(--color-text-secondary);
      transition: 0.3s;

      &.active {
        @include p-montserrat-16-125-semibold;
        color: var(--color-text-primary);
        position: relative;
        transition: 0.3s;

        &::before {
          content: "";
          position: absolute;

          bottom: -7px;
          left: 50%;
          transform: translateX(-50%);

          width: 20px;
          height: 2px;

          background: var(--color-buttons-content-purple);
        }
      }
    }
  }

  .content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100dvh - 202px);

    .task-container,
    .referal-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
      backface-visibility: hidden;
    }

    .task-container {
      @include flex(flex-start, center);
      @include f-direction(column);

      width: 100%;
      gap: 30px;
      transform: translateX(0);
    }

    .referal-container {
      @include flex(flex-start, center);
      @include f-direction(column);

      width: 100%;
      gap: 30px;
      transform: translateX(100%);

      .referal-count {
        @include flex(flex-start, flex-end);
        @include f-direction(row);
        gap: 5px;

        .user-amount {
          @include h3-montserrat-24-125-bold;
          background: var(--main-grad);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .label {
          @include p-montserrat-18-125-bold;
          color: var(--color-text-primary);
        }
      }
    }

    &.tasks {
      .task-container {
        transform: translateX(0);
      }
      .referal-container {
        transform: translateX(110%);
      }
    }

    &.referrals {
      .task-container {
        transform: translateX(-110%);
      }
      .referal-container {
        transform: translateX(0);
      }
    }
  }
}
