@import "@/src/app/shortSyles.scss";

.modal-background .modal-dialog {
  &.contact-us-modal {
    .content {
      @include flex(flex-start, center);
      @include f-direction(column);

      gap: 35px;

      .desctription-box {
        @include flex(flex-start, center);
        @include f-direction(column);

        max-width: 300px;
        width: 100%;
        gap: 15px;

        .title {
          @include h3-montserrat-24-125-bold;
          color: var(--color-text-primary);
          text-align: center;
        }

        .description {
          @include p-montserrat-14-125-regular;
          color: var(--color-text-secondary);
          text-align: center;
        }
      }
    }
  }
}
