@import "@/src/app/shortSyles.scss";

.referal-list {
  @include flex(flex-start, center);
  @include f-direction(column);

  gap: 5px;
  width: 100%;
  height: calc(100dvh - 280px);
  padding-bottom: 50px;

  overflow-y: scroll;
}

.btn-primary-50 {
  padding: 15px 20px;
}
