@import "@/app/shortSyles.scss";

.rodal {
  .rodal-mask {
    position: absolute;
    background: var(--color-background);
    opacity: 0.5;
  }

  .rodal-dialog {
    top: unset;
    bottom: 0;
    padding: 0;

    background: var(--color-surface);
    border-radius: 20px 20px 0px 0px;

    &:before {
      content: "";
      position: absolute;

      top: 8px;
      left: 50%;

      transform: translateX(-50%);

      width: 55px;
      height: 4px;
      background: var(--color-base-white);
      border-radius: 20px;
    }

    .container {
      @include flex(flex-start, center);
      @include f-direction(column);

      width: 100%;
      padding: 33px 20px 15px 20px;
      height: 100%;

      .modal-title {
        @include p-montserrat-18-125-bold;
        color: var(--color-text-primary);
      }
    }
  }
}
