@import "./shortSyles.scss";

:root {
  // FONTS
  --font-main: "Montserrat", sans-serif;

  // COLOR-BASE
  --color-base-white: #fbfbfb;
  --color-base-light-gray: #e2e2e2;
  --color-base-dark-high-purple: #080918;
  --color-base-dark-mid-purple: #0a0b1e;
  --color-base-dark-mid-secondary-purple: #101124;
  --color-base-dark-low-purple: #212342;

  // TOKENS
  --color-text-primary: #fbfbfb;
  --color-text-secondary: #e2e2e2;
  --color-background-secondary: #060713;
  --color-background: #080918;
  --color-surface: #0a0b1e;
  --color-ui-bg: #212342;

  // SYSTEM
  --color-system-green: #16c392;
  --color-system-red: #ea4d4d;
  --color-system-yellow: #ffe607;

  // BUTTONS
  --color-buttons-text-black: #080918;
  --color-buttons-text-white: #fbfbfb;
  --color-buttons-content-purple: #6549f4;
  --color-buttons-secondary-fill: #212342;

  // INPUTS
  --color-inputs-fill: #101124;
  --color-inputs-content: #e2e2e2;
  --color-inputs-validation-success: #16c392;
  --color-inputs-validation-failure: #ea4d4d;

  // CHECKBOX
  --color-checkbox-content: #fbfbfb;
  --color-checkbox-stroke: #212342;
  --color-checkbox-checked: #6549f4;

  // GARDIENTS
  --purple-grad: linear-gradient(180deg, #8069f6 0%, #4b3d90 100%);
  --main-grad: linear-gradient(
    116deg,
    #8c76ff 17.13%,
    #b187ab 49.87%,
    #efad4c 83.94%
  );
  --yelow-grad: linear-gradient(
    180deg,
    #ff9d0e 0%,
    #ffc167 54.5%,
    #ff9d0e 100%
  );

  //TOASTIFY
  --toastify-font-family: "Montserrat", sans-serif !important;
}

::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-buttons-content-purple);
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-base-dark-high-purple);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: var(--color-text-primary);
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-base-dark-high-purple);
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

main {
  @include flex(center, center);
  @include f-direction(column);
  width: 100%;
}

.icon {
  user-select: none;
}

.page-title {
  @include h3-montserrat-24-125-bold;
  text-align: center;
  color: var(--color-text-primary);
}

.container {
  @include flex(center, center);
  @include f-direction(column);
  gap: 25px;
  width: 100%;
  padding: 0 20px;
}

.page-title {
  @include h3-montserrat-24-125-bold;
  text-align: center;
  color: var(--color-text-primary);
}

.container {
  @include flex(center, center);
  @include f-direction(column);
  gap: 25px;
  width: 100%;
  padding: 0 20px;
}

.material-symbols-outlined,
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  &.one {
    font-variation-settings: "wght" 100;
  }

  &.two {
    font-variation-settings: "wght" 200;
  }

  &.three {
    font-variation-settings: "wght" 300;
  }

  &.four {
    font-variation-settings: "wght" 400;
  }

  &.five {
    font-variation-settings: "wght" 500;
  }

  &.six {
    font-variation-settings: "wght" 600;
  }

  &.seven {
    font-variation-settings: "wght" 700;
  }
}

// Skeleton
.MuiSkeleton-rounded,
.MuiSkeleton-text {
  &::after,
  &::before {
    background: linear-gradient(
      90deg,
      transparent,
      rgba(181, 181, 181, 0.04),
      transparent
    );
  }
}

// toaster
.Toastify {
  --toastify-color-dark: var(--color-buttons-secondary-fill);
  --toastify-color-progress-dark: var(--color-checkbox-checked);

  .Toastify__toast-container {
    width: 80dvw;
  }

  .Toastify__toast-container--top-right {
    top: 0;
    right: 0px;
    left: unset;
  }

  .Toastify__toast-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .Toastify__progress-bar {
    opacity: 1;
  }

  .Toastify__toast-theme--dark {
    background: var(--color-surface);
    color: var(--color-text-primary);

    .Toastify__progress-bar--error {
      background: var(--color-inputs-validation-failure);
    }

    .Toastify__progress-bar--success {
      background: var(--color-inputs-validation-success);
    }
  }

  .Toastify__toast--success {
    .Toastify--animate-icon {
      svg {
        fill: var(--color-inputs-validation-success);
      }
    }
  }

  .Toastify__toast--error {
    .Toastify--animate-icon {
      svg {
        fill: var(--color-inputs-validation-failure);
      }
    }
  }
}
