@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@mixin flex($justify_content, $align_items: normal) {
  justify-content: $justify_content;
  align-items: $align_items;
  display: flex;
}

@mixin width($width, $max-width: none) {
  width: $width;
  max-width: $max-width;
}

@mixin f-direction($direction) {
  flex-direction: $direction;
}

@mixin max-w-media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin container {
  --container-top-padding: 0;
  --container-side-padding: 15px;
  --container-width: 1390px;

  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--container-top-padding) var(--container-side-padding);

  @include max-w-media(500px) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: calc(100% - 30px);
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@mixin gradientAnimation {
  @keyframes gradientAnimation {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

// FONTS

@mixin h1-montserrat-42-125-bold {
  /* H1-42-120/Bold */
  font-family: var(--font-main);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;

  color: var(--text-primary);
}
@mixin h2-montserrat-32-125-bold {
  /* H2-32-120/Bold */
  font-family: var(--font-main);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */

  color: var(--text-primary);
}
@mixin h3-montserrat-24-125-bold {
  /* H3-24-120/Bold */
  font-family: var(--font-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */

  color: var(--text-primary);
}
@mixin h4-montserrat-20-125-bold {
  /* H4-20-125/Bold */
  font-family: var(--font-main);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 25px */

  color: var(--text-primary);
}
@mixin p-montserrat-18-125-bold {
  /* p-18-125/Bold */
  font-family: var(--font-main);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-18-125-medium {
  /* p-18-125/Medium */
  font-family: var(--font-main);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 22.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-18-125-regular {
  /* p-18-125/Regular */
  font-family: var(--font-main);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-16-125-bold {
  /* p-16-125/Bold */
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 20px */

  color: var(--text-primary);
}
@mixin p-montserrat-16-125-semibold {
  /* p-16-125/Semibold */
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */

  color: var(--text-primary);
}
@mixin p-montserrat-16-125-medium {
  /* p-16-125/Medium */
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */

  color: var(--text-primary);
}
@mixin p-montserrat-16-125-regular {
  /* p-16-125/Regular */
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */

  color: var(--text-primary);
}
@mixin p-montserrat-14-125-medium {
  /* p-14-125/Medium */
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 17.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-14-125-regular {
  /* p-14-125/Regular */
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-12-125-medium {
  /* p-12-125/Medium */
  font-family: var(--font-main);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 15px */

  color: var(--text-primary);
}
@mixin p-montserrat-12-125-regular {
  /* p-12-125/Regular */
  font-family: var(--font-main);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 15px */

  color: var(--text-primary);
}
@mixin p-montserrat-10-125-semibold {
  /* p-10-125/Semibold */
  font-family: var(--font-main);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 12.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-10-125-medium {
  /* p-10-125/Medium */
  font-family: var(--font-main);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 12.5px */

  color: var(--text-primary);
}
@mixin p-montserrat-8-125-regular {
  /* p-8-125/Regular */
  font-family: var(--font-main);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 10px */

  color: var(--text-primary);
}
