@import "@/src/app/shortSyles.scss";

.container {
  @include flex(center, center);
  @include f-direction(column);

  gap: 30px;
  width: 100%;
  margin-top: 20px;

  .top-box {
    @include flex(space-between, center);
    @include f-direction(row);
    width: 100%;
    gap: 20px;
  }

  .middle-box {
    @include flex(flex-start, center);
    @include f-direction(column);

    gap: 20px;
    width: 100%;

    padding: 10px 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 6;

    background-color: var(--color-base-dark-high-purple);

    .bottom-box {
      @include flex(flex-start, center);
      @include f-direction(row);

      gap: 20px;
      width: 100%;
    }
  }
}
