@import "@/src/app/shortSyles.scss";

.custom-checkbox {
  @include flex(space-between, center);
  @include f-direction(row);

  width: 100%;

  cursor: pointer;
  position: relative;

  .checkbox-label {
    @include p-montserrat-14-125-regular;
    color: var(--color-text-primary);
  }

  input {
    display: none;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--color-checkbox-stroke);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.checked {
      background-color: var(--color-checkbox-checked);
      border: 1px solid var(--color-checkbox-checked);
      color: var(--color-checkbox-content);

      .icon {
        font-size: 16px;
      }
    }
  }
}
