@import "@/src/app/shortSyles.scss";

nav {
  @include flex(space-between, center);
  @include f-direction(row);

  position: fixed;
  bottom: 0;

  width: 100%;
  padding: 0 18px;

  padding-bottom: 5px;
  background-color: var(--color-base-dark-high-purple);
  z-index: 5;

  .link {
    @include flex(center, center);
    width: 52px;
    height: 52px;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
