@import "@/src/app/shortSyles.scss";

nav {
  @include flex(space-between, center);
  @include f-direction(row);

  position: fixed;
  bottom: 0;

  width: 100%;
  padding: 0 18px;

  padding-bottom: 10px;
  background-color: var(--color-base-dark-high-purple);
  z-index: 5;

  .link {
    @include flex(center, center);

    width: 52px;
    height: 52px;
    -webkit-tap-highlight-color: transparent;
    transition: 0.2s ease-in-out;

    &:active {
      scale: 1.2;
      transition: 0.2s ease-in-out;
    }
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
